*{
  box-sizing: border-box;
}
html{
  text-rendering: initial;
}
@font-face{
  font-family: iransans;
  src: url(font/IRANSansWeb.ttf);
}
body{
  margin: 0;
  height: 500em;
  direction: rtl;
  /*font-family: iransans;*/
}
div.ch-top{
  background-image: linear-gradient(to right, #f76570 0%, #f76570 8%, #f3a46b 8%, #f3a46b 16%, #f3a46b 16%, #ffd205 16%, #ffd205 24%, #ffd205 24%, #1bbc9b 24%, #1bbc9b 25%, #1bbc9b 32%, #14b9d5 32%, #14b9d5 40%, #c377e4 40%, #c377e4 48%, #f76570 48%, #f76570 56%, #f3a46b 56%, #f3a46b 64%, #ffd205 64%, #ffd205 72%, #1bbc9b 72%, #1bbc9b 80%, #14b9d5 80%, #14b9d5 80%, #14b9d5 89%, #c377e4 89%, #c377e4 100%);
  height: 3px;
}
.shadow{
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
div.head{
  position: relative;
  width: 100%;
  height: 70px;
  z-index: 5;
}
div.logo{
  height: 30px;
  position: absolute;
  right: 343px;
  top: 20px;
}
div.nav{
  position: absolute;
  right: 460px;
  /*top: 28px;*/
  font-size: 14px;
  width: 60%;
}
div.nav li{
  display: inline;
  line-height: 70px;
  height: 100%;
  width: 100px;
}
div.nav a{
  transition: 0.09s;
  color: #2c2f34;
  font-weight: 600;
  margin: 0 -2px;
  padding: 27px 10px 27px 15px;

}
div.nav a#t{
  padding: 27px 15px 28px 12px;
}
div.nav a#m{
  padding: 27px 14px 28px 14px;
}
div.nav a#s{
  padding: 27px 14px 28px 14px;
}
div.nav a#v{
  padding: 27px 14px 28px 14px;
}
div.nav a#sa{
  padding: 27px 15px 28px 13.5px;
}
div.nav a:hover{
  color: white;
  background-color: #0088ff;
}
div.nav a i{
  font-size: 12px;
  color: #2c2f34;
  /*line-height: 70px;*/
}
div.nav a:hover i{
  color: white;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  margin: 0;
  padding: 0;
}
li.nl{
  margin-right: 15px;
}
i.inl{
  margin-right: 5px;
  color: #2c2f34;
}
li.ml{
  margin-right: 1px;
}
li.sl{
  margin-right: 1px;
}
div.search{
  display: inline;
  /*float: left;*/
  position: absolute;
  top: 28px;
  left: 71px;
  font-size: 14px;
}
div.search i{
  cursor: pointer;
  color: #2c2f34;
  height: 13px;
  width: 14px;
}
div.search i:hover{
  color: #0088ff;
}
div.section1{
  height: 480px;
  position: relative;
  overflow: hidden;
  margin-right: -1px;
}
div.women{
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  background-image: url(img/women.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  /*width: 100px;*/
  background-size: cover;
  height: 510px;
  width: calc(50% - 1px);
  /*margin-left: px;*/
  /*margin-right: -1px;*/
  /*z-index: -1;*/
}
div.dwl{
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67%;
  width: 100%;
  transition: opacity 0.2s;
  opacity: 1;
}
div.women:hover div.dwl{
  opacity: 0.9;
}
div.snobal{
  display: block;
  float: left;
  cursor: pointer;
  position: relative;
  background-image: url(img/snowball_blog_header-1-780x500.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 240px;
  width: 50%;
  margin-bottom: 1px;
  margin-right: -1px;
}
div.dsl{
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67%;
  width: 100%;
  transition: opacity 0.2s;
  opacity: 1;
}
div.snibal:hover div.dsl{
  height: 100%;
  opacity: 0.9;
}
div.ddown{
  display: block;
  float: left;
  height: 225px;
  width: 50%;
  margin-right: -1px;

}
div.tak{
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  background-image: url(img/4a1f4f1e-635f-4ae6-a72a-0749f0c1d7d7-780x467.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 255px;
  width: calc(50% - 1px);
  margin-left: 1px;
}
div.dtl{
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67%;
  width: 100%;
  transition: opacity 0.2s;
  opacity: 1;

}
div.tak:hover div.dtl{
  opacity: 0.9;
}

div.ever{
  display: block;
  float: right;
  cursor: pointer;
  position: relative;
  background-image: url(img/ARVRHeadsetDesign_1640x894-780x500.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 255px;
  width: 50%;
  margin-left: -1px;
}
div.del{
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));
  z-index: 5;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 67%;
  width: 100%;
  transition: opacity 0.2s;
  opacity: 1;

}
div.ever:hover div.del{
  opacity: 0.9;
}
div.textw{
  position: absolute;
  bottom: 35px;
  right: 20px;
  z-index: 10;
  color: white;
}
div.textw div.spant{
  font-size: 13px;
  margin: 0 0 14px 0;
}
div.textw h1{
  font-weight: bold;
  font-size: 35px;
}
div.textw div.span{
  font-size: 14px;
  margin-bottom: 26px;
}
div.texts{
  position: absolute;
  bottom: 35px;
  right: 20px;
  z-index: 10;
  color: white;
  /*line-height: 1.5;*/
}
div.texts div.spant{
  font-size: 13px;
  margin: 0 0 14px 0;
}
div.texts h1{
  font-weight: bold;
  font-size: 20px;
}
div.texts div.span{
  font-size: 14px;
  /*margin-bottom: 26px;*/
}
div.textt{
  position: absolute;
  bottom: 35px;
  right: 20px;
  z-index: 10;
  color: white;
  /*line-height: 1.5;*/
}
div.textt div.spant{
  font-size: 13px;
  margin: 0 0 14px 0;
}
div.textt h1{
  font-weight: bold;
  font-size: 20px;
}
div.textt div.span{
  font-size: 14px;
  /*margin-bottom: 26px;*/
}
div.texte{
  position: absolute;
  bottom: 35px;
  right: 20px;
  z-index: 10;
  color: white;
  /*line-height: 1.5;*/
}
div.texte div.spant{
  font-size: 13px;
  margin: 0 0 14px 0;
}
div.texte h1{
  font-weight: bold;
  font-size: 20px;
}
div.texte div.span{
  font-size: 14px;
  /*margin-bottom: 26px;*/
}



































.col-1 {width : 8.33%;}
.col-2 {width : 16.66%;}
.col-3 {width : 25%;}
.col-4 {width : 33.33%;}
.col-5 {width : 41.66%;}
.col-6 {width : 50%;}
.col-7 {width : 58.33%;}
.col-8 {width : 66.66%;}
.col-9 {width : 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
